<html>
  <head>
    <style>
    #login{
      width: 500px;
      border-radius: 5px;
      background-color: #92a8d1;
      opacity: 0.8;
       padding: 50px;
       color: white;
     }
    body{
      background-image: url("/assets/b.jpg")
    }
   </style>
  </head>

  <body>
<div id="login" class="container text-center">
  <h2 class="text-center">Add User</h2>
  <br>
<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="user.email" placeholder="Email" name="email" class="form-control" id="email">
  </div>

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input [(ngModel)]="user.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
  </div>

  <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="user.password" placeholder="password" name="password" class="form-control" id="password">
  </div>

  <div class="form-group">
      <label for="contactNumber">Contact No:</label>
      <input type="tel" [(ngModel)]="user.contactNumber" placeholder="Contact Number" name="contactNumber" class="form-control" id="contactNumber">
  </div>

  <div class="form-group">
      <label for="regCode">Reg. Code</label>
      <input type="text" [(ngModel)]="user.regCode" placeholder="Registration Code" name="regCode" class="form-control" id="regCode">
  </div>

  <div class="form-group">
      <label for="role">Role</label>
      <input type="text" [(ngModel)]="user.role" placeholder="Role " name="role" class="form-control" id="role">
  </div>

  <div class="form-group">
      <label for="linkedinUrl">LinkedIn Url</label>
      <input type="text" [(ngModel)]="user.linkedinUrl" placeholder="linkedinUrl " name="linkedinUrl" class="form-control" id="linkedinUrl">
  </div>

  <div class="form-group">
      <label for="yearsofExperience">Years of Experience</label>
      <input type="text" [(ngModel)]="user.yearsofExperience" placeholder="0,1,2 etc. " name="yearsofExperience" class="form-control" id="yearsofExperience">
  </div>
  <button class="btn btn-success" (click)="createUser()">Create</button>
</form>
</div>
</body>
</html>
