<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    body{
      background-size: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
    h2{
      color: white;
    }
    h3{
      color: white;
    }
    #a{
      color: white;
    }
    label{
    
      color: white;
      text-align: left;
    }
    div {
  width: 420px;
  padding: 10px;
}
h4{
  text-align: right;
}
  </style>
</head> 
<body background="https://i.pinimg.com/originals/f0/df/fd/f0dffdcf873936786b4ee8b518521a5a.jpg">
<br>

<div class="container text-center">
    <h2 color = "white">Welcome to Mentor on Demand</h2> <h4><a  href="javascript:history.back()">Back</a></h4>
    
    <h3>Add Mentor</h3>
    <hr>
      
      <div class="col-md-6"></div>
        
      <form>
        <div class="container text-center">
			<br>
          <label for="email">Email address:</label>
          <input type="email" [(ngModel)]="mentor.email" placeholder="Email" name="email" class="form-control" id="email">
        </div>
      
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input [(ngModel)]="mentor.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
        </div>
        <div class="form-group">
            <label for="userName">User Name:</label>
            <input [(ngModel)]="mentor.userName" placeholder="userName" name="userName" class="form-control" id="userName">
          </div>
      
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input [(ngModel)]="mentor.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
        </div>
      
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" [(ngModel)]="mentor.password" placeholder="password" name="password" class="form-control" id="password">
        </div>
      
        <div class="form-group">
            <label for="contactNumber">Contact No:</label>
            <input type="tel" [(ngModel)]="mentor.contactNumber" placeholder="Contact Number" name="contactNumber" class="form-control" id="contactNumber">
        </div>
      
        <div class="form-group">
            <label for="regCode">Reg. Code</label>
            <input type="text" [(ngModel)]="mentor.regCode" placeholder="Registration Code" name="regCode" class="form-control" id="regCode">
        </div>
      
        <div class="form-group">
            <label for="role">Role</label>
            <input type="text" [(ngModel)]="mentor.role" placeholder="Role " name="role" class="form-control" id="role">
        </div>
      
        <div class="form-group">
            <label for="linkedinUrl">LinkedIn Url</label>
            <input type="text" [(ngModel)]="mentor.linkedinUrl" placeholder="linkedinUrl " name="linkedinUrl" class="form-control" id="linkedinUrl">
        </div>
      
        <div class="form-group">
            <label for="yearsofExperience">Years of Experience</label>
            <input type="text" [(ngModel)]="mentor.yearsofExperience" placeholder="0,1,2 etc. " name="yearsofExperience" class="form-control" id="yearsofExperience">
        </div>
      
        <div class="form-group">
          <label for="rating">Rating:</label>
          <input type="text" [(ngModel)]="mentor.firstName" placeholder="Rating" name="rating" class="form-control" id="rating">
        </div>
      
        <div class="form-group">
          <label for="timeZone">Time Zone:</label>
          <input type="text" [(ngModel)]="mentor.timeZone" placeholder="Time Zone" name="timeZone" class="form-control" id="timeZone">
        </div>
      
        <div class="form-group">
          <label for="mentorProfile">Mentor Profile:</label>
          <input type="text" [(ngModel)]="mentor.mentorProfile" placeholder="Mentor Profile" name="mentorProfile" class="form-control" id="mentorProfile">
        </div>
        <button class="btn btn-success" (click)="createMentor()">Create</button>
      </form>
      
      
    
</div>
<br>
<br>
<br>

</body> 
</html>

