<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    body{
      background-repeat: no-repeat;
      background-size: cover;
      background-size: fixed;
      background-image: url("https://i.pinimg.com/originals/f0/df/fd/f0dffdcf873936786b4ee8b518521a5a.jpg");
    }
    .container{
      color: white;
    }
    h1{
      font-family: Comic Sans Ms ;
    }
  </style>
</head>
<body>
  <h2><a href="javascript:history.back()">Back</a></h2>

<div>
    
    <div id="content-main" class="content-main" role="main">
        <div class="container block-content text-center">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>
                  Password Reset 
      </h1>
      <br>
      <p>
         Enter your <b>Employee/Mentor username</b>, or the <b>email address</b> that you used to register. We'll send you an email with your username and a link to reset your password.
      </p>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
<form name="form" method="post" action="/in/password-reset/" id="forgot-password-index" novalidate="novalidate"><div id="form">    <div class="row"><div class="col-md-12"><div class="form-group"><label class="control-label required" for="form_input">Email address or username</label><input type="text" id="form_input" name="form[input]" required="required" data-msg-required="This field is required" class="form-control"></div></div></div>  <div class="btn btn-info"><button type="submit" id="form_send" name="form[send]" class="btn btn-green">Send</button></div>  <input type="hidden" id="form__token" name="form[_token]" class="form-control" value="eyJ0aW1lIjoxNTY1ODQ5MTkzLCJoYXNoIjoiYWQyZjBjODhkZmE2ZWU1YjZlMzAzMzkxNTdmN2JjMTI5ZjEyMjM0OWUzNWE4NzY0MmRiNzdhMTRhZGViYzkxMSJ9"></div></form>
 <p>If you still need help, contact <a id="password-link-support" class="what-is-spotify" target="_blank" routerLink="/ulogin">Admin Support.</a>
      </p>
      <br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
  </div>
</div>
    </div>


